.homepage{
    text-align: center;
    padding: 20px;
    background-color: #ff9999;
}

.homepage-header{
    background-color: pink;
    padding: 20px;
    color: black;
}

.homepage-logo {
    height: 300px;
    margin-bottom: 0px;
  }

.homepage-content{
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homepage-content h2{
    margin-bottom: 10px;
}

.homepage-content ul{
    list-style: none;
    padding: 0;
}

.homepage-content li {
    margin: 5px 0;
}

.homepage-footer{
    margin-top: 20px;
    padding: 10px;
    background-color: pink;
}


button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 10px;
}

button:hover{
    background-color: #0056b3;
}