.homepage{
    text-align: center;
    padding: 20px;
    background-color: pink;
}

/* .homepage-header{
    background-color: #7595d4;
    padding: 20px;
    color: white;
} */

.homepage-logo {
    height: 300px;
    margin-bottom: 0px;
  }

.homepage-content{
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homepage-content h2{
    margin-bottom: 10px;
}

.homepage-content ul{
    list-style: none;
    padding: 0;
}

.homepage-content li {
    margin: 5px 0;
}

.homepage-footer{
    margin-top: 20px;
    padding: 10px;
    background-color: #f03da5;
}


button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor:pointer;
}

button:hover{
    background-color: #0056b3;
}